.navbar {
    background: transparent !important;
    padding-top: 20px;
    margin-bottom: 20px;
}

nav a ,nav ul li a {
    color: white;
    margin-right: 30px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(#60db94, #219251);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}