<!-- Preload Background Images -->
<div id="preload">
   <img src="./assets/images/background1p.jpg" />
   <img src="./assets/images/background2p.jpg" />
   <img src="./assets/images/background3p.jpg" />
</div>

<!-- Header -->
<header>
   <!-- Transpartent navbar -->
   <app-navbar></app-navbar>
   <!-- Here is the main title -->
   <div class="container">
      <div class="jumbotron" id="jumbotron">
         <h1 class="display-4">Todo Camping.</h1>
         <h2>Todo lo que buscás.</h2>
         <!-- Catálogo button -->
         <a class="btn btn-full" href="#">Ver Catálogo</a>
         <!-- Contáctanos button -->
         <a class="btn btn-ghost" href="#">Contactános</a>
       </div>
   </div>
</header>
<app-home></app-home>
