<!-- Preload Background Images -->
<div id="preload">
   <img src="./assets/images/background1p.jpg" />
   <img src="./assets/images/background2p.jpg" />
   <img src="./assets/images/background3p.jpg" />
</div>

<!-- using this div, i can dissolve the background image using jquery -->
<div class="dissolve">

   <!-- Header -->
   <header>
      <!-- Transpartent navbar -->
      <app-navbar></app-navbar>
      <!-- Here is the main title -->
      <div class="container">
         <div class="jumbotron" id="jumbotron">
            <h1 class="display-4">Todo Camping.</h1>
            <h2>Todo lo que buscás.</h2>
            <!-- Catálogo button -->
            <a class="btn btn-full" id="ofertas" href="#">Ofertas</a>
            <!-- Contáctanos button -->
            <a class="btn btn-ghost" href="#">Catálogo</a>
          </div>
      </div>
   </header>
</div>

<!-- Home Component -->
<app-home id="home"></app-home>

<!-- Footer Component -->
<app-footer></app-footer>
