* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(46, 46, 46);
    font-family: "Lato", "arial", "sans-serif";
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

header {
    transition: 2s ease-in-out;
    background-image: url(./assets/images/background1p.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#preload {
    display: none;
}

.jumbotron {
    background: transparent !important;
    color: #fff;
    margin-top: 40px;
}

h2, .btn-full, .btn-ghost {
    margin-left: 10px;
}

.navbar .navbar-toggler {
    border-color: #fff;
}

.btn-full, .btn-ghost {
    margin-top: 10px;
}

.btn:hover,
.btn:active {
    background-color: #219251;
}

.btn-full {
    background-color: #60db94;
    border: 2px solid #60db94;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost {
    border: 2px solid #60db94;
    color: #fff;
}

.btn-full:hover,
.btn:active {
    border: 1px solid #219251;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #219251;
    color: #fff;
}